.~lock*
tools/updated-authority.xlsx
tools/fk-naturalist.sch.xlsx
tools/combined.xlsx
tools/fk-atlas.sch.xlsx
tools/fk-core.sch.xlsx
tools/fk-sonar.sch.xlsx
tools/fk-weather-sensors.sch.xlsx
tools/fk-weather.sch.xlsx
